body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #E8F5E9;
    color: #333;
}

header {
    background: #4A90E2;
    color: #fff;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #B2EBF2;
}

.about {
    background: #BBDEFB;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.font {
    font-family: 'Libre Baskerville', serif; 
    font-style: italic;
}

section {
    padding: 20px;
    margin: 20px;
}

h1, h2, h3 {
    color: #333;
}

.project {
    margin-bottom: 30px;
    background: #C5CAE9;
    padding: 15px;
    border-radius: 10px;
}

.project img {
    max-width: 20%;
    height: auto;
    border-radius: 10px;
}

.project3 {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}

.responsive-img, .another-img {
    max-width: 20%; 
    height: auto;    
    display: block;
    margin: 0 auto;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-person {
    background: #B2DFDB; /* Light teal */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 45%;
}

footer {
    text-align: center;
    padding: 20px;
    background: #4A90E2;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
